{{ define "index.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
</head>
<body>
    <h1> Hi</h1>
    <p>Total users:  {{.totalUsers}}</p>
    <h3>Usuario actual: {{.user.Name}} </h3>
    <h4>Email usuario actual {{.user.Email}} </h4>
    <ul>
        {{ range .users }}
        <li> {{.Name}} - {{ .Email}} </li>
        {{ else }}
         <li> No hay usuarios disponibles</li>

       {{ end }}
    </ul>

</body>
</html>
{{ end }}